* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, textarea, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

@font-face {
  font-family: 'arial_geo';
  src: url("../fonts/arial_geo.ttf");
}
@font-face {
  font-family: 'NotoSansGeorgian-Condensed';
  src: url("../fonts/NotoSansGeorgian-Condensed.ttf");
}
@font-face {
  font-family: 'NotoSansGeorgian-Regular';
  src: url("../fonts/NotoSansGeorgian-Regular.ttf");
}
@font-face {
  font-family: 'NotoSerifGeorgian';
  src: url("../fonts/NotoSerifGeorgian-Regular.ttf");
}
@font-face {
  font-family: 'Roboto-Regular_1';
  src: url("../fonts/Roboto-Regular_1.ttf");
}
@font-face {
  font-family: 'MyriadPro-Regular';
  src: url("../fonts/MyriadPro-Regular.otf");
}
header.mainHeader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 105px;
  background: #fff;
  z-index: 10;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  height: 105px;
}

.flexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

a.brandName {
  font-family: "Roboto-Regular_1";
  font-size: 18px;
  display: block;
  text-transform: uppercase;
  color: #00B5E1;
}

nav.headerNav {
  width: 490px;
}

a.headerNav-a, .loginBox p {
  font-family: "NotoSerifGeorgian";
  font-size: 18px;
  color: #292929;
}

a.active {
  color: #CCCCCC;
}

.searchProfile {
  width: 164px;
}

.searchBox img {
  display: block;
  cursor: pointer;
}

img.hiddenCloseImg {
  display: none;
}

.closeImg {
  width: 22px;
  height: 22px;
}

form.hiddensearchBox {
  position: absolute;
  right: 30px;
  top: 106px;
  display: block;
  width: 230px;
  height: 45px;
}

form.hiddensearchBox.hiddenForm {
  display: none;
}

form.hiddensearchBox input {
  width: 230px;
  height: 45px;
  border: none;
  background: #fff;
  padding: 0 5px;
}

button#hiddenBtn {
  position: absolute;
  top: 12px;
  right: 5px;
  cursor: pointer;
  background-color: #fff;
  padding: initial;
  border: initial;
  border-width: initial;
  border-style: initial;
  border-color: initial;
  -o-border-image: initial;
     border-image: initial;
}

button#hiddenBtn img {
  width: 27px;
  height: 19px;
}

.loginBox p {
  color: #00B5E1;
  cursor: pointer;
}

html, body {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.jssorSliderWrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

#jssor_1 {
  position: relative;
  margin: 0 auto;
  top: 0px;
  left: 0px;
  width: 960px;
  height: 640px;
  overflow: hidden;
  visibility: hidden;
}

/*jssor slider loading skin spin css*/
.jssorl-009-spin {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.jssorl-009-spin img {
  margin-top: -19px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 38px;
  height: 38px;
  -webkit-animation-name: jssorl-009-spin;
          animation-name: jssorl-009-spin;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes jssorl-009-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes jssorl-009-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.jssorImgWrapper {
  cursor: default;
  position: relative;
  top: 0px;
  left: 0px;
  width: 960px;
  height: 640px;
  overflow: hidden;
}

.jssorTitleText {
  font-family: "NotoSansGeorgian-Regular";
  position: absolute;
  top: 47%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  color: #fff;
}

.jssorTitle-h1 {
  text-align: center;
  font-size: 28px;
  width: 80%;
  margin: 0 auto;
}

.jssorTitle-h3 {
  font-size: 18px;
  width: 50%;
  margin: 40px auto 50px;
}

.more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "NotoSansGeorgian-Condensed";
  font-size: 12px;
  width: 60px;
  height: 26px;
  background: #00B5E1;
  color: #fff;
  margin: 0 auto;
  -webkit-transition: background .3s, color .3s;
  transition: background .3s, color .3s;
}

.more:hover {
  background: #fff;
  color: #2C3D4E;
}

.jssorTitle-a {
  position: relative;
}

.jssorTitle-a:before, .jssorTitle-a:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 3px 20px #777;
          box-shadow: 0 3px 20px #777;
  -webkit-transform: rotate(-8deg);
          transform: rotate(-8deg);
}

.jssorTitle-a:after {
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
  right: 10px;
  left: auto;
}

/*jssor slider bullet skin 064 css*/
.jssorb064 {
  position: absolute;
}

.jssorb064 .i {
  position: absolute;
  cursor: pointer;
}

.jssorb064 .i .b {
  fill: #fff;
  fill-opacity: .5;
  stroke: #fff;
  stroke-width: 400;
  stroke-miterlimit: 10;
  stroke-opacity: 0.5;
}

.jssorb064 .i:hover .b {
  fill-opacity: .8;
}

.jssorb064 .iav .b {
  fill: #fff;
  fill-opacity: 1;
  stroke: #fff;
  stroke-opacity: .7;
  stroke-width: 2000;
}

.jssorb064 .iav:hover .b {
  fill: #fff;
  stroke: #fff;
}

.jssorb064 .i.idn {
  opacity: .3;
}

/*jssor slider arrow skin 051 css*/
.jssora051 {
  display: block;
  position: absolute;
  cursor: pointer;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
}

.jssora051 .a {
  fill: none;
  stroke: #fff;
  stroke-width: 360;
  stroke-miterlimit: 10;
}

.jssora051:hover {
  opacity: .8;
}

.jssora051.jssora051dn {
  opacity: .5;
}

.jssora051.jssora051ds {
  opacity: .3;
  pointer-events: none;
}

.categorySlider {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 110px;
  width: 100%;
  background: #fff;
}

.owl-category {
  background: #fff;
  height: 110px;
  max-width: 1100px;
  margin: 0 auto;
}

.item {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.category-link {
  display: inline-block;
  height: 110px;
}

.category-link:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 2px;
  width: 80px;
  background-color: #00B5E1;
  -webkit-transform: translateX(-50%) scaleX(0);
          transform: translateX(-50%) scaleX(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.category-link:hover:after, .category-link.active-link:after {
  -webkit-transform: translateX(-50%) scaleX(1);
          transform: translateX(-50%) scaleX(1);
}

.item img.owl-category-img {
  width: 45px !important;
  height: 45px !important;
  margin: 15px auto;
}

span.owl-play {
  font-family: "Roboto-Regular_1";
  font-size: 18px;
  color: #CCCCCC;
  text-align: center;
  text-transform: capitalize;
  display: block;
  letter-spacing: 1px;
}

.owl-dots {
  display: none;
}

.random {
  background: #fff;
  padding: 80px 0;
}

.title-h1 {
  font-family: "NotoSansGeorgian-Regular";
  font-size: 24px;
  color: #2C3D4E;
  text-align: center;
}

.title-h2 {
  font-family: "NotoSansGeorgian-Regular";
  font-size: 24px;
  color: #BDBDBD;
  text-align: center;
  margin-top: 15px;
}
