* {
  box-sizing: border-box; }

*:focus {
  outline: none; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, textarea, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

img {
  display: block; }

@font-face {
  font-family: 'arial_geo';
  src: url("../fonts/arial_geo.ttf"); }
@font-face {
  font-family: 'NotoSansGeorgian-Condensed';
  src: url("../fonts/NotoSansGeorgian-Condensed.ttf"); }
@font-face {
  font-family: 'NotoSansGeorgian-Regular';
  src: url("../fonts/NotoSansGeorgian-Regular.ttf"); }
@font-face {
  font-family: 'NotoSerifGeorgian';
  src: url("../fonts/NotoSerifGeorgian-Regular.ttf"); }
@font-face {
  font-family: 'Roboto-Regular_1';
  src: url("../fonts/Roboto-Regular_1.ttf"); }
@font-face {
  font-family: 'MyriadPro-Regular';
  src: url("../fonts/MyriadPro-Regular.otf"); }
.success-box {
  margin: 50px 0;
  padding: 10px 10px;
  border: 1px solid #eee;
  background: #f9f9f9; }

.success-box img {
  margin-right: 10px;
  display: inline-block;
  vertical-align: top; }

.success-box > div {
  vertical-align: top;
  display: inline-block;
  color: #888; }

/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type: none;
  padding: 0;
  -moz-user-select: none;
  -webkit-user-select: none; }

.rating-stars ul > li.star {
  display: inline-block; }

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size: 1em;
  /* Change the size of the stars */
  color: #fff;
  /* Color on idle state */ }

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color: #FFCC36; }

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color: #FFCC36; }

body {
  background: #fff; }

header.mainHeader {
  width: 100%;
  height: 95px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: top .3s; }

.myContainer {
  max-width: 1100px;
  margin: 0 auto;
  height: 95px; }

.flexBox {
  display: flex;
  align-items: center;
  justify-content: space-between; }

a.brandName {
  font-family: "Roboto-Regular_1";
  font-size: 18px;
  display: block;
  text-transform: uppercase;
  color: #00B5E1; }

nav.headerNav {
  width: 490px; }

a.headerNav-a, .loginBox p {
  font-family: "NotoSerifGeorgian";
  font-size: 18px;
  color: #292929; }

a.active {
  color: #CCCCCC; }

.searchProfile {
  width: 164px; }

.searchBox img {
  display: block;
  cursor: pointer; }

img.hiddenCloseImg {
  display: none; }

.closeImg {
  width: 22px;
  height: 22px; }

form.hiddensearchBox {
  position: absolute;
  right: 30px;
  top: 100px;
  display: block;
  width: 230px;
  height: 45px;
  z-index: 1000; }

form.hiddensearchBox.hiddenForm {
  display: none; }

form.hiddensearchBox input {
  width: 230px;
  height: 45px;
  border: none;
  padding: 0 5px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); }

button#hiddenBtn {
  position: absolute;
  top: 12px;
  right: 5px;
  cursor: pointer;
  background-color: #fff;
  padding: initial;
  border: initial;
  border-width: initial;
  border-style: initial;
  border-color: initial;
  border-image: initial; }

button#hiddenBtn img {
  width: 27px;
  height: 19px; }

.loginBox p {
  color: #00B5E1;
  cursor: pointer; }

html, body {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.jssorSliderWrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); }

#jssor_1 {
  position: relative;
  margin: 0 auto;
  top: 0px;
  left: 0px;
  width: 960px;
  height: 640px;
  overflow: hidden;
  visibility: hidden; }

/*jssor slider loading skin spin css*/
.jssorl-009-spin {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7); }

.jssorl-009-spin img {
  margin-top: -19px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 38px;
  height: 38px;
  animation-name: jssorl-009-spin;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

@keyframes jssorl-009-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
.jssorImgWrapper {
  cursor: default;
  position: relative;
  top: 0px;
  left: 0px;
  width: 960px;
  height: 640px;
  overflow: hidden; }

.jssorTitleText {
  font-family: "NotoSansGeorgian-Regular";
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: #fff; }

.jssorTitle-h1 {
  text-align: center;
  font-size: 28px;
  width: 80%;
  margin: 0 auto; }

.jssorTitle-h3 {
  font-size: 18px;
  width: 50%;
  margin: 40px auto 50px; }

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "NotoSansGeorgian-Condensed";
  font-size: 12px;
  width: 60px;
  height: 26px;
  background: #00B5E1;
  color: #fff;
  margin: 0 auto;
  transition: background .3s, color .3s; }

.more:hover {
  background: #fff;
  color: #2C3D4E; }

.jssorTitle-a {
  position: relative; }

.jssorTitle-a:before, .jssorTitle-a:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  box-shadow: 0 3px 20px #777;
  transform: rotate(-8deg); }

.jssorTitle-a:after {
  transform: rotate(8deg);
  right: 10px;
  left: auto; }

/*jssor slider bullet skin 064 css*/
.jssorb064 {
  position: absolute; }

.jssorb064 .i {
  position: absolute;
  cursor: pointer; }

.jssorb064 .i .b {
  fill: #fff;
  fill-opacity: .5;
  stroke: #fff;
  stroke-width: 400;
  stroke-miterlimit: 10;
  stroke-opacity: 0.5; }

.jssorb064 .i:hover .b {
  fill-opacity: .8; }

.jssorb064 .iav .b {
  fill: #fff;
  fill-opacity: 1;
  stroke: #fff;
  stroke-opacity: .7;
  stroke-width: 2000; }

.jssorb064 .iav:hover .b {
  fill: #fff;
  stroke: #fff; }

.jssorb064 .i.idn {
  opacity: .3; }

/*jssor slider arrow skin 051 css*/
.jssora051 {
  display: block;
  position: absolute;
  cursor: pointer;
  display: flex !important;
  justify-content: center;
  align-items: center;
  background: #fff; }

.jssora051 .a {
  fill: none;
  stroke: #fff;
  stroke-width: 360;
  stroke-miterlimit: 10; }

.jssora051:hover {
  opacity: .8; }

.jssora051.jssora051dn {
  opacity: .5; }

.jssora051.jssora051ds {
  opacity: .3;
  pointer-events: none; }

.categorySlider {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 110px;
  width: 100%;
  background: #fff; }

.owl-category {
  background: #fff;
  height: 110px;
  max-width: 1100px;
  margin: 0 auto; }

.item {
  overflow: hidden;
  display: flex;
  justify-content: center; }

.category-link {
  display: inline-block;
  height: 110px; }

.category-link:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 2px;
  width: 80px;
  background-color: #00B5E1;
  transform: translateX(-50%) scaleX(0);
  transition: all 0.3s ease-in-out; }

.category-link:hover:after, .category-link.active-link:after {
  transform: translateX(-50%) scaleX(1); }

.item img.owl-category-img {
  width: 45px !important;
  height: 45px !important;
  margin: 15px auto; }

span.owl-play {
  font-family: "Roboto-Regular_1";
  font-size: 18px;
  color: #CCCCCC;
  text-align: center;
  text-transform: capitalize;
  display: block;
  letter-spacing: 1px; }

.owl-dots {
  display: none; }

.random {
  background: #fff;
  padding: 80px 0; }

.title-h1 {
  font-family: "NotoSansGeorgian-Regular";
  font-size: 24px;
  color: #2C3D4E;
  text-align: center; }

.title-h2 {
  font-family: "NotoSansGeorgian-Regular";
  font-size: 24px;
  color: #BDBDBD;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 60px; }

.categoryBox {
  max-width: 340px;
  height: 400px;
  background: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 0 auto 35px;
  padding: 12px 8px 18px; }

.ImgWrapper {
  position: relative;
  max-width: 324px;
  max-height: 190px;
  overflow: hidden; }

.categoryBoxImg {
  display: block;
  width: 100%;
  transform: scale(1);
  transition: transform .3s; }

.ImgWrapper:hover .categoryBoxImg {
  transform: scale(1.1); }

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 181, 225, 0);
  transition: background .3s; }

.ImgWrapper:hover .overlay {
  background: rgba(0, 181, 225, 0.3); }

.userActions {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px; }

.heart #favorite {
  fill: #BDBDBD; }

.heart.active #favorite {
  fill: #DA4336; }

.heartSVG {
  pointer-events: none;
  width: 24px;
  height: 24px;
  display: block; }

.catInfoWrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 12px; }

.catName, .catDate {
  font-family: "Roboto-Regular_1";
  color: #BDBDBD;
  font-size: 12px; }

.categoryBox:hover .articleTitle {
  color: #00B5E1; }

.articleTitle {
  display: inline-block;
  font-family: "NotoSansGeorgian-Regular";
  font-size: 16px;
  color: #334454;
  padding: 20px 0 14px;
  transition: color .3s; }

.articleText {
  font-family: "arial_geo";
  font-size: 12px;
  color: #334454;
  margin-bottom: 20px;
  line-height: 14px; }

.author {
  font-family: "Roboto-Regular_1";
  font-size: 12px;
  color: #BDBDBD; }

.lastAdded {
  background: url(../img/bg.jpg) repeat;
  padding: 40px 0 140px; }

.whiteSpace {
  height: 95px;
  background: #fff; }

footer {
  height: 125px;
  background: #2C3D4E; }

.footer-p {
  height: 125px;
  line-height: 120px;
  text-align: center; }

.footer-p > a {
  font-family: "Roboto-Regular_1";
  font-size: 24px;
  color: #fff;
  text-transform: capitalize; }

.flexLeft {
  display: flex;
  align-items: center; }

a.facebook {
  display: inline-block;
  width: 27px;
  height: 27px; }

.facebookIcon {
  display: block;
  width: 27px;
  height: 27px; }

/* ============================
    About Project
============================= */
.youtubeChannel {
  margin-top: 95px; }

.youtubeChannel > h1 {
  font-family: 'NotoSerifGeorgian';
  text-align: center;
  font-size: 32px;
  letter-spacing: 2px;
  padding: 50px 0;
  color: #2C3D4E; }

.youtube {
  width: 100%;
  height: 330px; }

.youtubeChannel > p {
  font-family: 'arial_geo';
  font-size: 18px;
  color: #BDBDBD;
  width: 70%;
  margin: 0 auto;
  padding: 30px 0 40px;
  line-height: 20px; }

.border-top {
  border-top: 1px solid #CCCCCC;
  padding-top: 30px; }

.margin-bottom {
  margin-bottom: 60px; }

.about-content-h2 {
  font-family: 'NotoSansGeorgian-Regular';
  font-size: 24px;
  color: #2C3D4E;
  padding-bottom: 40px; }

p.about-content-p {
  font-family: 'arial_geo';
  font-size: 18px;
  color: #BDBDBD;
  margin: 0 auto;
  line-height: 20px; }

.about-content-img {
  display: block;
  width: 130px;
  height: 150px;
  background: #CCCCCC;
  margin: 0 auto; }

.border-top .col-md-7, .border-top .col-md-5 {
  padding: 0; }

/* ============================
    Articles Page
============================= */
.article-hero {
  position: relative;
  margin-top: 95px; }

.article-hero > h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 55px;
  color: #fff;
  font-family: "NotoSansGeorgian-Regular"; }

.hero-img {
  width: 100%;
  height: 685px; }

.resoult {
  padding: 35px 0 25px 30px;
  font-size: 14px;
  color: #606060;
  font-family: "arial_geo"; }

.category-wrapper {
  width: 250px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px 15px; }

.category-title {
  color: #589FA5;
  font-family: "NotoSerifGeorgian";
  font-size: 14px;
  padding: 5px 0;
  margin: 10px 0; }

input[type=range] {
  margin: 0 0 25px; }

.input-wrapper {
  display: flex;
  align-items: center;
  margin: 20px 0;
  height: 10px; }

.input-wrapper > label {
  font-family: "NotoSerifGeorgian";
  font-size: 10px;
  color: #606060;
  font-weight: bold; }

.input-wrapper > label > input[type=radio] {
  width: 10px;
  height: 10px;
  margin-left: 7px; }

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 125px; }

.fas.fa-envelope {
  color: #fff;
  font-size: 22px; }

.fas.fa-phone {
  color: #fff;
  font-size: 18px; }

.fab.fa-facebook {
  color: #fff;
  font-size: 20px; }

.icon-wrapper {
  width: 130px;
  display: flex;
  justify-content: space-between; }

/*================== Range - Slider ======================*/
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent; }

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid #606060;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #589FA5;
  cursor: pointer;
  margin-top: -4px; }

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  border: 2px solid #606060;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #589FA5;
  cursor: pointer; }

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  border: 2px solid #606060;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #589FA5;
  cursor: pointer; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #606060; }

input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #606060; }

input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent; }

/* ========================= Range Control ===============*/
.range-value-wrapper {
  width: 100%;
  height: 20px;
  margin-bottom: -10px;
  display: flex;
  justify-content: space-between; }

span[id*=value-] {
  color: #484949;
  font-size: 14px;
  font-weight: bold; }

/* ============================
   Full Article Page
============================= */
.full-article {
  margin-top: 160px; }

.full-article-wrapper {
  max-width: 765px; }

.full-article-img-wrapper {
  width: 765px;
  height: 480px;
  overflow: hidden; }

.full-img {
  width: 765px;
  height: 480px; }

.full-article-info {
  color: #475665;
  font-family: "arial_geo";
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0 35px; }

.full-article-info > span:nth-child(2) {
  color: #0E3E5E; }

.full-art-title {
  display: flex;
  margin-bottom: 30px; }

.full-art-h1 {
  color: #475665;
  font-family: "arial_geo";
  font-size: 30px; }

.full-art-text {
  color: #475665;
  font-family: "arial_geo";
  font-size: 20px;
  line-height: 22px;
  margin: 25px 0 20px; }

.tags {
  font-family: "arial_geo";
  color: #000;
  font-size: 14px; }

.tags > a {
  color: #475665; }

.fb-like {
  margin: 15px 0 25px; }

/*=============== art-side-bar ===============*/
.art-side-bar {
  width: 300px;
  margin-left: 60px; }

.profile-box {
  width: 100%;
  height: 290px;
  background: #EFEFEF;
  padding: 33px 15px 20px;
  margin-bottom: 25px; }

.profile-img {
  width: 270px;
  height: 180px; }

.user-name {
  font-family: "arial_geo";
  color: #475665;
  font-size: 17px;
  font-weight: bold;
  margin-top: 30px; }

.posts-box {
  margin-bottom: 20px;
  background: #EFEFEF;
  min-height: 340px; }

.posts-box:last-child {
  min-height: 490px; }

.post-header {
  height: 45px;
  background: #589FA5;
  text-align: center;
  line-height: 45px;
  color: #fff;
  font-family: "arial_geo";
  font-size: 17px; }

.post-wrapper {
  padding: 15px 40px; }

.post {
  display: block;
  color: #475665;
  font-family: "arial_geo";
  font-size: 10px;
  margin-bottom: 22px; }

/*# sourceMappingURL=styles.css.map */
