/* ============================
   Full Article Page
============================= */

.full-article {
    margin-top: 160px;
}
.full-article-wrapper {
    max-width: 765px;
}
.full-article-img-wrapper {
    width: 765px;
    height: 480px;
    overflow: hidden;
}
.full-img {
    width: 765px;
    height: 480px;
}
.full-article-info {
    color: #475665;
    font-family: $arialGeo;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0 35px;
}
.full-article-info > span:nth-child(2) {
    color:#0E3E5E;
}
.full-art-title {
    display: flex;
    margin-bottom: 30px;
}
.full-art-h1 {
    color: #475665;
    font-family: $arialGeo;
    font-size: 30px;
}
.full-art-text {
    color: #475665;
    font-family: $arialGeo;
    font-size: 20px;
    line-height: 22px;
    margin: 25px 0 20px;
}
.tags {
    font-family: $arialGeo;
    color: #000;
    font-size: 14px;
}
.tags > a {
    color: #475665;
}
.fb-like {
    margin: 15px 0 25px;
}
/*=============== art-side-bar ===============*/
.art-side-bar {
    width: 300px;
    margin-left: 60px;
}
.profile-box {
    width: 100%;
    height: 290px;
    background: #EFEFEF;
    padding: 33px 15px 20px;
    margin-bottom: 25px;
}
.profile-img {
    width: 270px;
    height: 180px;
}
.user-name {
    font-family: $arialGeo;
    color: #475665;
    font-size: 17px;
    font-weight: bold;
    margin-top: 30px;
}
.posts-box {
    margin-bottom: 20px;
    background: #EFEFEF;
}
.post-header {
    height: 45px;
    background: #589FA5;
    text-align: center;
    line-height: 45px;
    color: #fff;
    font-family: $arialGeo;
    font-size: 17px;
}
.post-wrapper {
    padding: 15px 40px;
}
.post {
    display: block;
    color: #475665;
    font-family: $arialGeo;
    font-size: 10px;
    margin-bottom: 22px;
}