// Color variables

$white: #fff;
$blue: #00B5E1;
$darkGray: #292929;
$lightGray: #CCCCCC;

// Fonts 

$roboto: 'Roboto-Regular_1';
$myriad: 'MyriadPro-Regular';

$notoSerifGeorgian: 'NotoSerifGeorgian';